* {
    margin: 0px;
    padding: 0px;
}

html {
	height: 100%;
	height: 100vh
}

body {
	height: 100%;
	height: 100vh
	margin:0px;
	padding:0px;
	text-align:center;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}
