#update{
  animation:1.5s linear infinite rotation;
}

@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}







[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
}

_:lang(x)+_:-webkit-full-screen-document,.stepper {
  border: 1px solid #eee;
  display: inline-block;
  overflow: visible;
  height: 1.3em;
  background: #fff;
  padding: 1px;
}
_:lang(x)+_:-webkit-full-screen-document,.stepper input {
  width: 3em;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: #000;
}
_:lang(x)+_:-webkit-full-screen-document,.stepper button {
  width: 1.0em;
  font-weight: 400;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  background: #eee;
  color: #333;
  border: none;
}

_:lang(x)+_:-webkit-full-screen-document,body {
	font-size: 16px;
}

_:lang(x)+_:-webkit-full-screen-document,input {
  font-size: 1.0em;
  transform: scale(0.8);
}

_:lang(x)+_:-webkit-full-screen-document,textarea {
  font-size: 1.0em;	
}

_:lang(x)+_:-webkit-full-screen-document,.tytle{
	font-size:	1.5em;
}

_:lang(x)+_:-webkit-full-screen-document,.select {
	background-color: darkgray;
	padding:	30px;
	border-radius:	20px;
	position:	fixed;
	display:	none;
	cursor:		move;
	z-index: 	100;
}

_:lang(x)+_:-webkit-full-screen-document,.close {
	background-color: white;	
	border-radius: 50%;
	width: 40px;
	height: 40px;
	//color: #fff;
	font-size: 25px;
	text-align: center;
	line-height: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor:		pointer;

}

_:lang(x)+_:-webkit-full-screen-document,.select1 {
	background-color: deepskyblue;
	padding:	20px;
	border-radius:	10px;
	display: inline-block;
	cursor:		pointer;
}

_:lang(x)+_:-webkit-full-screen-document,.select2 {
	background-color: springgreen;
	padding:	20px;
	border-radius:	10px;
	display: inline-block;
	cursor:		pointer;
}

_:lang(x)+_:-webkit-full-screen-document,.select3 {
	background-color: orange;
	padding:	20px;
	border-radius:	10px;
	display: inline-block;
	cursor:		pointer;
}

_:lang(x)+_:-webkit-full-screen-document,.move {
	background-color: deepskyblue;
	padding:	30px;
	border-radius:	20px;
	position:	fixed;
	display:	none;
	cursor:		move;
	z-index: 	100;
}

_:lang(x)+_:-webkit-full-screen-document,.build {
	background-color: springgreen;
	padding:	30px;
	border-radius:	20px;
	position:	fixed;
	display:	none;
	cursor:		move;
	z-index: 	100;
}

_:lang(x)+_:-webkit-full-screen-document,.demolition {
	background-color: orange;
	padding:	30px;
	border-radius:	20px;
	position:	fixed;
	display:	none;
	cursor:		move;
	z-index: 	100;
}

_:lang(x)+_:-webkit-full-screen-document,.entry {
	background-color: darkgray;
	padding:	20px;
	border-radius:	10px;
	display: inline-block;
	cursor:		pointer;
}

_:lang(x)+_:-webkit-full-screen-document,.main {
	display:block;
	overflow:auto;
}

_:lang(x)+_:-webkit-full-screen-document,.table {
	border-collapse: collapse;
}

_:lang(x)+_:-webkit-full-screen-document,.history {
	vertical-align: top;
}

_:lang(x)+_:-webkit-full-screen-document,.forum {
	display: inline-block;
	vertical-align: top;
}

_:lang(x)+_:-webkit-full-screen-document,.memo {
	display: inline-block;
}

_:lang(x)+_:-webkit-full-screen-document,.note {
	background-color: paleturquoise;
	padding:	20px;
	border-radius:	20px;
	display:	none;
}

_:lang(x)+_:-webkit-full-screen-document,.button {
	margin:		10px;
	background-color: white;
	border: 2px solid;
	padding:	10px;
	border-radius:	10px;
	display: 	inline-block;
	cursor:		pointer;
}

_:lang(x)+_:-webkit-full-screen-document,.customer {
	background-color: white;
	border: 2px solid;
	padding:	30px;
	border-radius:	20px;
	position:	fixed;
	display:	none;
	cursor:		move;
	z-index: 	100;
}

_:lang(x)+_:-webkit-full-screen-document,.includ {
	background-color: white;
	border: 2px solid;
	padding:	30px;
	border-radius:	20px;
	position:	fixed;
	display:	none;
	cursor:		move;
	z-index: 	100;
}
