.interface {
	//display:none;
}

.background {
	visibility: hidden;
}

.new {
	position: absolute;
	left: 1010px;
	top: 430px;
	width:100px;
	padding:10px;
	font-size:20px;
}

details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: .5em .5em 0;
	width:1165px;
}

summary {
	font-size:15px;	
{

textarea {
	resize: none;
	width: 800px;
	height: 50px;
}
