button {
	margin:0px;
	padding:0px;
}

.title {
	position: absolute;
	display: block;
	background-color: #FFFFFF;
	padding: 5px 10px;
	left: 10px;
	top: 10px;
}

.interface {
	margin:0px;
	padding:0px;
}

.background {
	visibility: hidden;
}

.startes {
	position: absolute;
	display: block;
	left: 1010px;
	top: 335px;
}

.save {
	position: absolute;
	left: 1010px;
	top: 370px;
	width:100px;
	padding:10px;
	font-size:20px;
}

.new {
	position: absolute;
	left: 1010px;
	top: 430px;
	width:100px;
	padding:10px;
	font-size:20px;
}

details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: .5em .5em 0;
	width:1165px;
}

summary {
	//font-size: 10px;	
{

textarea {
	resize: none;
	width: 800px;
	height: 70px;
}
